.section-specialty{
    border: 1px solid red;
    height: 350px;
    background-color: #f5f5f5;
    .specialty-content{
        height: inherit;
    }
}
.slick-prev{
    border: 1px solid red !important;
    left: 0 !important;
    z-index: 1000;
    // top: 50%;
    position: relative !important;
}
.slick-next{
    border: 1px solid rgb(73, 16, 206) !important;
    right: 0 !important;
}